body{
    background-color: orangered;
    margin: 0;
    font-family: 'Rubik', sans-serif;
}

.card{
    list-style: none;
    padding: 40px;
    background-color: #f4f4f4;
    color: #222;
    text-align: center;
}
/* the bounce animation for the cards*/
.card:hover{
    animation: bounce 0.5s linear;
}
@keyframes bounce {
    20%{
        transform: translateY(-6px);
    }
    40%{
        transform: translateY(0px);
    }
    60%{
        transform: translateY(-2px);
    }
    80%{
        transform: translateY(-0px);
    }
}

.card-title{
    text-transform: uppercase;
    font-size: 32px;
    font-weight: normal;
    margin-bottom: 0;
}

.card-subtitle{
    font-weight: lighter;
    color: #666;
    margin-top: 5px;
}

.card-image{
    height: 180px;
    margin: 0 auto;
}

#pokedex{
    padding-inline-start: 0;
    display: grid;
    /* el repeat(auto-fit, minmax(320px, 1fr)) va a generar las columnas que pueda basado en el minimo de 320px y lo dividira igualmente */
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 20px;
}
.container{
    padding: 40px;
    margin: 0 auto;
}

h1{
    text-transform: uppercase;
    text-align: center;
    font-size: 54px;
    color: white;
}